@using Catalog_Веб_приложение_MVC.ViewModels
@model Catalog_Веб_приложение_MVC.ViewModels.ProductCategoryViewModel

@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hostza</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->



    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/SearchBox.css" />
    <link type="text/css" rel="stylesheet" href="~/css/Progect.css" />

    

    @if (ViewBag.Message != null)
    {
        <script>$(document).ready(function () {
                $('#myModal').appendTo("body").modal('show');
            });</script>
    }


</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="live_chat_btn">
                                <a href="">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="@Url.Action("Logout", "Auth")" class="genric-btn danger circle">Logout</a>
                                    }
                                    else
                                    {

                                    }
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-0 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>

                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                                <a href="#test-form" class="login popup-with-form">
                                    <i class="flaticon-user"></i>
                                    <span>Log In</span>
                                </a>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="boxed_btn_green dropdown-toggle" href="@Url.Action("Portfolio", "Portfolio")">
                                        <i class="flaticon-chat"></i>
                                        <span>Your office</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="boxed_btn_green_disable" href="#">
                                        <i class="flaticon-chat"></i>
                                        <span>Your office</span>
                                    </a>
                                }

                            </div>

                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </header>
    <!-- header-end -->
    <!-- bradcam_area_start -->
    <div class="bradcam_area2 breadcam_bg_2 ">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center text-center">
                <div class="col-xl-9">
                    <div class="breadcam_text text-center">
                        <h3>Portfolio</h3>
                        <p class="custom-breadcrumbs" data-aos="fade-right" data-aos-delay="100"><a href="@Url.Action("Search", "Search")">Search</a> <span class="mx-3">/</span> Projects</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->

    @if (Model.Projects == null)
    {
        <div class="about_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <h3 class="about_title text-center">
                            Your portfolio is empty. <br>
                            Create your first project.
                        </h3>
                        <div class="text-center">
                            <a href="#test-form3" class="login popup-with-form">
                                <button href="#test-form3" type="submit" class="button button-contactForm boxed-btn center-block">Create project.</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="about_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <h3 class="about_title text-center">
                            Your portfolio contains the following projects. <br>
                            If you want create a new project push on the button.
                        </h3>
                        <div class="text-center">
                            <a href="#test-form3" class="login popup-with-form">
                                <button href="#test-form3" type="submit" class="button button-contactForm boxed-btn center-block">Create project.</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="package_prsing_area">
            <div class="container">
                <div class="row">
                    @{
                        foreach (var item in Model.Projects)
                        {
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="myProjectForm single_prising">
                                    <div class="prising_header deep">
                                        <h3 class="NameProject"> @Html.DisplayFor(modelItem => item.NameProject)</h3>
                                    </div>
                                    <div class="middle_content">
                                        <div class="list">
                                            <ul>
                                                <li>Project name: @Html.DisplayFor(modelItem => item.NameProject)</li>
                                                <li>Developer Name: @Html.DisplayFor(modelItem => item.IdUserNavigation.NameUser)</li>
                                                <li>Item in project: @item.ProjectProduct.Where(pd => pd.IdProjectNavigation.NameProject.Equals(item.NameProject.Trim())).ToList().Count()</li>
                                                <li>Free SSL Certificate</li>
                                                <li>Quick support</li>
                                            </ul>
                                        </div>
                                        <p class="prise">Start from <span>$2.5/m</span></p>
                                        <div class="start_btn text-center">
                                            <a href="#test-form4" class="open-popup-link">
                                                <button type="submit" class="btn btn-primary">Show</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }


    <!-- have_question_start -->
    <div class="have_question">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="single_border">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-md-4 col-lg-6">
                                <h3>Have any Question?</h3>
                            </div>
                            <div class="col-xl-6 col-md-8 col-lg-6">
                                <div class="chat">
                                    <a class="boxed_btn_green" href="#">
                                        <i class="flaticon-chat"></i>
                                        <span>Live Chat</span>
                                    </a>
                                    <a class="boxed_btn_green2">
                                        get start now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- have_question_end -->
    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                            <p class="footer_text doanar">
                                <a class="first" href="#">
                                    +10 783 467 3789
                                </a> <br>
                                <a href="#">hostza@support.com</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                service
                            </h3>
                            <ul>
                                <li><a href="#">Hosting</a></li>
                                <li><a href="#">Domain</a></li>
                                <li><a href="#">Wordpress</a></li>
                                <li><a href="#">Shared Hosting</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Rooms</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Newsletter
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
    <!-- link that opens popup -->
    <!-- form itself end-->
    <div id="test-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="~/img/Depositphotos_129720018_s-2019.png" alt="" width="200" height="200">
                    </a>
                </div>
                <h3>Sign in <i class="fa fa-user-circle" aria-hidden="true"></i></h3>
                <form asp-action="Login" asp-controller="Auth" asp-anti-forgery="true">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="email" asp-for=Email placeholder="Enter email">
                            <span asp-validation-for="Email" />
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password" />
                        </div>

                        <div class="col-xl-12">
                            <div class="switch-wrap d-flex justify-content-between">
                                <p>Remember me</p>
                                <div class="confirm-switch">
                                    <input type="checkbox" asp-for="RememberMe" id="confirm-switch" checked="">
                                    <label for="confirm-switch"></label>
                                </div>
                            </div>
                            <button type="submit" class="boxed_btn_green">Sign in</button>
                        </div>
                    </div>
                </form>
                <p class="doen_have_acc">
                    Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a>
                </p>
            </div>
        </div>
    </div>
    <!-- form itself end -->
    <!-- form itself end-->
    <div id="test-form2" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="@Url.Action("Register", "Auth")">
                        <img src="img/form-logo.png" alt="">
                    </a>
                </div>
                <h3>
                    Resistration <i class="fa fa-user-plus" aria-hidden="true"></i>
                </h3>
                <form asp-action="Register" asp-controller="Auth" asp-anti-forgery="true">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="text" asp-for="Username" placeholder="Enter Username">
                            <span asp-validation-for="Username" />
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="email" asp-for="Email" placeholder="Enter email">
                            <span asp-validation-for="Email" />
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password" />
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="Password" asp-for="ConfirmPassword" placeholder="Confirm password">
                            <span asp-validation-for="ConfirmPassword" />
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_green">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- form itself end -->
    <!-- form itself end-->
    <div id="test-form3" class="white-popup-block mfp-hide">
        <div class="container px-4 py-5 mx-auto">
            <div class="card card0">
                <div class="d-flex flex-lg-row flex-column-reverse">
                    <div class="card card1">
                        <div class="row d-flex px-lg-4 px-3 pt-3">
                            <h6 id="logo"><strong>Project</strong></h6>
                        </div>
                        <div class="row justify-content-center my-auto">
                            <div class="col-lg-8 my-5">


                                @using (Html.BeginForm("Portfolio", "Portfolio", FormMethod.Post))
                                {
                                    <form>
                                        <h3 class="mb-3">Get your new project.</h3> <medium class="text-muted">Fill out the project creation form and check the project data</medium>
                                        <div class="validation" asp-validation-summary="ModelOnly" />
                                        <div class="form-group mt-5">
                                            <input type="text" asp-for="Projectname" id="Projectname" class="form-control" required>
                                            <span asp-validation-for="Projectname" />
                                            <label class="form-control-placeholder" for="name">Project Name</label>
                                        </div>
                                        <div class="form-group mt-4">
                                            <input type="email" asp-for="Email" id="mail" class="form-control" required>
                                            <span asp-validation-for="Email" />
                                            <label class="form-control-placeholder" for="mail">Email</label>
                                        </div>

                                        <div class="row justify-content-center my-3">
                                            <button type="submit" class="btn boxed-btn" data-toggle="modal" data-target="myModal">Create</button>
                                        </div>
                                    </form>
                                }


                            </div>
                        </div>
                    </div>
                    <div class="card card2"> <img id="image" src="https://i.imgur.com/JayQIc8.png"> </div>
                </div>
            </div>
        </div>
    </div>

    <div id="test-form4" class="white-popup-block mfp-hide">
        <div class="container">
            <br>  <p class="text-center">More bootstrap 4 components on Bootstrap-ecommerce.com</a></p>
            <hr>
            <div class="card">
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="productName">Product Name</th>
                            <th data-field="NameCategory">Category</th>
                            <th data-field="NameCountry">Country</th>
                            <th data-field="NameQualification">Qualification</th>
                            <th data-field="NameManufacturer">Manufacturer</th>
                            <th data-field="TySmd">Datasheet</th>
                            <th scope="col" width="200" class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @if(Model.Product != null)
                        {
                            foreach (var item in Model.Product)
                            {
                                <tr ng-repeat="item in items">

                                    <td><span class="pd-id">@Html.DisplayFor(modelItem => item.IdProduct)</span></td>
                                    <td><span class='pd-name'>@Html.DisplayFor(modelItem => item.NameProduct)</span> </td>
                                    <td>@Html.DisplayFor(modelItem => item.IdCategoryNavigation.NameCategory)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IdCountryNavigation.NameCountry)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IdQualificationNavigation.NameQualification)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IdManufacturerNavigation.NameManufacturer)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TySmd)</td>
                                    <td>
                                        <a href="" class="btn btn-outline-danger btn-round"> × Remove</a>
                                    </td>
                                </tr>
                            }
                            }
                           
                    </tbody>
                </table>
            </div> <!-- card.// -->

        </div>
        <!--container end.//-->

    </div>

    <script>
$(document).ready(function () {
            $(".myProjectForm").on('click', function (e) {
                if (e.target.className == 'btn btn-primary') {

                    var model = {
                        ProjectName: $($(this).find('.NameProject')[0]).text(),
                        
                    }

                    $.ajax({
                        type: "POST",
                        data: JSON.stringify(model),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        url: "/Portfolio/TableProjectsProduct",
                        success: function (data) {
                            alert(data.className)
                        },
                        failure: function () {
                            alert("Error!");
                        }

                    }).done(function (data) {
                        if ($('#test-form4').length) {
                            $.magnificPopup.open({
                                items: {
                                    src: '#test-form4'
                                },
                                type: 'inline'
                            });
                        }
                    });
                }


            })
        });</script>



    <!-- form itself end -->
    <!-- JS here -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollIt.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="~/js/gijgo.min.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>

    <script src="~/js/main.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/SearchBox.css" />


    <!-- Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Project information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (TempData.Peek("Warning") != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                    @if (TempData.Peek("Success") != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

</body>

</html>
